[submodule "Vectrix/extern/spdlog"]
	path = Vectrix/extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vectrix/extern/GLFW"]
	path = Vectrix/extern/GLFW
	url = https://github.com/glfw/glfw
[submodule "Vectrix/extern/imgui"]
	path = Vectrix/extern/imgui
	url = https://github.com/ocornut/imgui/
	branch = docking
[submodule "Vectrix/extern/xxHash"]
	path = Vectrix/extern/xxHash
	url = https://github.com/Cyan4973/xxHash
	branch = release
[submodule "Vectrix/extern/shaderc"]
	path = Vectrix/extern/shaderc
	url = https://github.com/google/shaderc
[submodule "Vectrix/extern/SPIRV-Tools"]
	path = Vectrix/extern/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "Vectrix/extern/SPIRV-Header"]
	path = Vectrix/extern/SPIRV-Header
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "Vectrix/extern/glslang"]
	path = Vectrix/extern/glslang
	url = https://github.com/KhronosGroup/glslang
