name: Vectrix MultiPlatform

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        config: [Debug, Release]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install Linux dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt update
        sudo apt install -y \
          build-essential \
          ninja-build \
          libvulkan-dev \
          vulkan-tools \
          libx11-dev \
          libxrandr-dev \
          libxi-dev \
          libxcursor-dev \
          libxinerama-dev

    - name: Install Vulkan SDK (Windows)
      if: runner.os == 'Windows'
      shell: powershell
      run: |
        Invoke-WebRequest `
          -Uri https://sdk.lunarg.com/sdk/download/1.4.335.0/windows/vulkan-sdk.exe `
          -OutFile vulkan-sdk.exe

        Start-Process .\vulkan-sdk.exe `
          -ArgumentList "--accept-licenses --default-answer --confirm-command install" `
          -Wait

        echo "VULKAN_SDK=C:\VulkanSDK\1.4.335.0" >> $env:GITHUB_ENV
        echo "C:\VulkanSDK\1.4.335.0\Bin" >> $env:GITHUB_PATH


    - name: Install Ninja (Windows)
      if: runner.os == 'Windows'
      run: choco install ninja -y

    - name: Cache CMake build
      uses: actions/cache@v4
      with:
        path: build
        key: ${{ runner.os }}-${{ matrix.config }}-${{ hashFiles('**/CMakeLists.txt') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.config }}-

    - name: Configure
      run: |
        cmake -S . -B build \
          -G Ninja \
          -DCMAKE_BUILD_TYPE=${{ matrix.config }}
          -DGLFW_BUILD_WAYLAND=OFF

    - name: Build
      run: cmake --build build --parallel

    - name: Build
      run: cmake --build build --parallel
